*{
    margin: 0;

}

.barraNav{
    height: auto;
    width: 100%;
    text-decoration: none;
    background-color: cadetblue;
    color: black;
    font-size: 18px;
    padding: 5px;
}

.titleHome{
    text-align: center;
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: rgb(126, 198, 201);
    color: black
}